/* Your CSS styles here */

#react-confirmation-box {
    width: 495px;
    min-height: 175px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 13px;
}

.confirmation-box {
    background: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #525252;
    margin: 10px 0;
    padding: 10px 30px;
    line-height: 1.5;
    position: relative;
}

.confirmation-box .info {
    background: #eee;
    border-color: #ddd;
}

.confirmation-box input {
    border: 1px solid #ddd;
    width: 100%;
    height: 35px;
}

button {
    border-radius: 3px;
    margin: 5px auto;
    display: block;
    background: white;
    padding: 5px 20px;
    background: red;
    color: white;
    opacity: 0.62;
    border: none;
}

button.warning {
    background: red;
}

button.warning:hover {
    background: red;
}

button.back {
    background: green;
}

button.back:hover {
    background: green;
}

button.back:active {
    opacity: 1;
}
